@charset "UTF-8";
.pc {
  display: block; }

.sp {
  display: none; }

@media screen and (max-width: 767px) {
  .pc {
    display: none; }

  .sp {
    display: block; } }
html, body {
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif; }

body {
  /* 	margin-top: 58px; */
  margin-top: 0;
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* font
============= */
.mintyo {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

/* img
============= */
